@mixin heading-1 {
  font-size: 77px;
  font-weight: 800;
  line-height: 77px; /* 100% */

  @include break($vp-1200) {
    font-size: 56px;
    line-height: 56px; /* 100% */
  }
}

@mixin heading-2 {
  font-size: 55px;
  font-weight: 800;
  line-height: 55px; /* 100% */

  @include mobile {
    font-size: 26px;
    font-weight: 800;
    line-height: 26px; /* 100% */
  }
}

@mixin heading-3 {
  font-size: 35px;
  font-weight: 800;
  line-height: 100%; /* 35px */
}

@mixin heading-4 {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px; /* 116.667% */
}

@mixin heading-5 {
  font-size: 21px;
  font-weight: 700;
  line-height: 21px; /* 100% */
}

@mixin heading-6 {
  font-size: 18px;
  font-weight: 600;
  line-height: 18px; /* 100% */

  @include tablet {
    font-size: 16px;
    line-height: 16px; /* 100% */
  }

  @include mobile {
    font-size: 14px;
    line-height: 14px; /* 100% */
  }
}

@mixin heading-7 {
  font-size: 14px;
  font-weight: 700;
  line-height: 16px; /* 114.286% */
}

@mixin button-big {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 700;
  line-height: 16px; /* 100% */
  letter-spacing: 0.64px;
  text-transform: uppercase;
}

@mixin button-regular {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px; /* 100% */
}

@mixin input-navigation {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px; /* 100% */
}

.heading-1 {
  @include heading-1;
}

.heading-2 {
  @include heading-2;
}

.heading-3 {
  @include heading-3;
}
.heading-4 {
  @include heading-4;
}

.heading-5 {
  @include heading-5;
}

.heading-6 {
  @include heading-6;
}

.heading-7 {
  @include heading-7;
}

@mixin text-big {
  font-size: 17px;
  line-height: 24px; /* 141.176% */

  @include break($vp-568) {
    font-size: 15px;
    line-height: 20px; /* 133.333% */
  }
}

.text-big {
  @include text-big;
}

.text-xsmall {
  font-family: $ff-primary;
  font-size: 12px;
  line-height: 16px; /* 133.333% */
}

.button-big {
  @include button-big;
}

.button-regular {
  @include button-regular;
}

.input-navigation {
  @include input-navigation;
}
